<!-- Top Navigation Bar -->
<nav class="navbar navbar-light bg-light">
  <div class="navbar-collapse collapse show justify-content-between align-items-center w-100" id="collapsingNavbar2">
    <div class="navbar-brand">Lumos</div>
  </div>
</nav>

<!-- The Interface -->
<div>
  <as-split direction="horizontal" class="border-light h-full" restrictMove="true">
    <!-- COLUMN: Data and Attributes -->
    <as-split-area [size]="20">
      <as-split direction="vertical" restrictMove="true">
        <!-- ROW: Dataset Selector -->
        <as-split-area [size]="15">
          <div class="list-group h-100" style="overflow: auto">
            <article class="list-group-item">
              <!-- Header -->
              <header class="data-header">
                <table class="w-100">
                  <tr>
                    <td>
                      <h5 class="display-inline">
                        <span class="badge badge-secondary">Data</span>
                      </h5>
                    </td>
                  </tr>
                </table>
              </header>

              <!-- Content: Dataset Select -->
              <div class="m-t-sm">
                <form class="form-inline display-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-table"></i></div>
                      </div>
                      <ng-select [disabled]="true" name="datasetSelect" appendTo="body" [clearable]="false" [searchable]="false"
                        [ngStyle]="{ width: getSelectWidth(objectKeys(appConfig)) }" [(ngModel)]="global.appMode"
                        (change)="initLumos()">
                        <ng-option *ngFor="let s of objectKeys(appConfig)" [value]="s"> {{s}} </ng-option>
                      </ng-select>
                    </div>
                  </div>
                </form>
              </div>
            </article>
          </div>
        </as-split-area>

        <!-- ROW: Attribute Panel -->
        <as-split-area [size]="85">
          <div class="list-group h-100" style="overflow: auto">
            <article class="list-group-item">
              <!-- Header -->
              <header class="attributes-header">
                <table class="w-100">
                  <tr>
                    <td>
                      <h5 class="display-inline">
                        <span class="badge badge-secondary">Attributes</span>
                      </h5>
                    </td>
                    <td class="float-right">
                      <button class="btn btn-light btn-sm" (click)="toggleAttributePanelSettingsAccordion()">
                        <i class="fa fa-cog"></i>
                      </button>
                    </td>
                  </tr>
                </table>
              </header>

              <!-- Content: Settings -->
              <div class="collapse" id="collapseAttributeControls">
                <div class="m-sm">
                  <table style="border-collapse: separate; border-spacing: 8px 4px">
                    <tbody>
                      <!-- Sort By -->
                      <tr>
                        <td style="float: right">Sort by</td>
                        <td>
                          <ng-container *ngIf="global.appType == 'CONTROL'">
                            <ng-select name="attributeSortByModeSelect" appendTo="body" [clearable]="false"
                              [searchable]="false"
                              [ngStyle]="{ width: getSelectWidth('attributeControlSortByModes', 'sortByModeMapping') }"
                              (change)="onChangeAttributePanelSort($event)"
                              [(ngModel)]="userConfig['attributeSortByMode']">
                              <ng-option *ngFor="let atcsm of userConfig['attributeControlSortByModes']" [value]="atcsm"
                                [innerHTML]="userConfig['sortByModeMapping'][atcsm]">
                              </ng-option>
                            </ng-select>
                          </ng-container>
                          <ng-container *ngIf="global.appType !== 'CONTROL'">
                            <ng-select name="attributeSortByModeSelect" appendTo="body" [clearable]="false"
                              [searchable]="false"
                              [ngStyle]="{ width: getSelectWidth('attributeSortByModes', 'sortByModeMapping') }"
                              (change)="onChangeAttributePanelSort($event)"
                              [(ngModel)]="userConfig['attributeSortByMode']">
                              <ng-option *ngFor="let atsm of userConfig['attributeSortByModes']" [value]="atsm"
                                [innerHTML]="userConfig['sortByModeMapping'][atsm]">
                              </ng-option>
                            </ng-select>
                          </ng-container>
                        </td>
                      </tr>

                      <!-- Color Scale -->
                      <tr *ngIf="global.appType != 'CONTROL'">
                        <td style="float: right">Color Scale</td>
                        <td>
                          <ng-select name="attributeColorScaleSelect" appendTo="body" [clearable]="false"
                            [searchable]="false"
                            [ngStyle]="{ width: getSelectWidth('colorScales', 'colorScaleMapping') }"
                            [(ngModel)]="userConfig['attributeColorScale']">
                            <ng-option *ngFor="let atcs of userConfig['colorScales']" [value]="atcs">
                              {{userConfig['colorScaleMapping'][atcs]}}
                            </ng-option>
                          </ng-select>
                        </td>
                      </tr>

                      <!-- Color By -->
                      <tr *ngIf="global.appType != 'CONTROL'">
                        <td style="float: right">Color By</td>
                        <td>
                          <ng-select name="attributeColorByModeSelect" appendTo="body" [clearable]="false"
                            [searchable]="false" (change)="onChangeAttributeColorByMode($event)"
                            [ngStyle]="{ width: getSelectWidth('colorByModes', 'colorByModeMapping') }"
                            [(ngModel)]="userConfig['attributeColorByMode']">
                            <ng-option *ngFor="let atcm of userConfig['colorByModes']" [value]="atcm">
                              {{userConfig['colorByModeMapping'][atcm]}}
                            </ng-option>
                          </ng-select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- Content: Color Legend -->
              <div *ngIf="global.appType !== 'CONTROL' && userConfig['attributeColorScale'] == 'Sequential'">
                <div class="text-center"><span class="title">Your Focus</span></div>
                <table class="w-100 m-b-md">
                  <tr>
                    <td class="title text-secondary" style="white-space: nowrap; padding-right: 8px; font-size: 0.9rem">
                      Less
                    </td>
                    <td class="w-100">
                      <div class="sequential-color-legend"></div>
                    </td>
                    <td class="title text-secondary" style="white-space: nowrap; padding-left: 8px; font-size: 0.9rem">
                      More
                    </td>
                  </tr>
                </table>
              </div>
              <div *ngIf="global.appType !== 'CONTROL' && userConfig['attributeColorScale'] == 'Divergent'">
                <div class="text-center"><span class="title">Your Focus</span></div>
                <table class="w-100 m-b-md">
                  <tr>
                    <td class="title text-secondary" style="white-space: nowrap; padding-right: 8px; font-size: 0.9rem">
                      Less
                    </td>
                    <td class="w-100">
                      <div class="divergent-color-legend"></div>
                    </td>
                    <td class="title text-secondary" style="white-space: nowrap; padding-left: 8px; font-size: 0.9rem">
                      More
                    </td>
                  </tr>
                </table>
              </div>

              <!-- Content: Attributes -->
              <div class="accordion" id="attributeaccordion">
                <div *ngFor="let attribute of customSortAttributePanel(appConfig[global.appMode].attributeList);">
                  <div class="card">
                    <!-- title="{{appConfig[global.appMode]['attributeInteracted'][attribute]}}" -->
                    <div class="card-header m-b-0" [ngStyle]="styleAttributePanelCard(attribute)"
                      id="{{'attributeheading-' + appConfig[global.appMode]['attributes'][attribute]['cleaned']}}"
                      [attr.data-target]="'#attributecollapse-' + appConfig[global.appMode]['attributes'][attribute]['cleaned']">
                      <table class="w-100">
                        <tr>
                          <td class="float-left"
                            *ngIf="appConfig[global.appMode].attributeDatatypeList['N'].indexOf(attribute) !== -1">
                            <span class="text-nowrap"><i class="fa fa-font"></i>&nbsp;&nbsp;{{attribute}}</span>
                          </td>
                          <td class="float-left"
                            *ngIf="appConfig[global.appMode].attributeDatatypeList['O'].indexOf(attribute) !== -1">
                            <span class="text-nowrap"><i class="fa fa-font"></i>&nbsp;&nbsp;{{attribute}}</span>
                          </td>
                          <td class="float-left"
                            *ngIf="appConfig[global.appMode].attributeDatatypeList['T'].indexOf(attribute) !== -1">
                            <span class="text-nowrap"><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{attribute}}</span>
                          </td>
                          <td class="float-left"
                            *ngIf="appConfig[global.appMode].attributeDatatypeList['Q'].indexOf(attribute) !== -1">
                            <span class="text-nowrap"><i class="fa fa-hashtag"></i>&nbsp;&nbsp;{{attribute}}</span>
                          </td>
                          <td class="float-right text-right text-nowrap" style="padding: 0">
                            <button [disabled]="appConfig[global.appMode]['attributes'][attribute]['filter']"
                              (click)="addFilter(attribute)"
                              [ngStyle]="{'color':getPanelCardTxtColor(attribute, 'attributes')}"
                              class="btn btn-sm p-0">
                              <i class="fa fa-filter"></i>
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>

    <!-- COLUMN: Filters, Encodings, and Configurations -->
    <as-split-area [size]="20">
      <as-split direction="vertical" class="border-light" restrictMove="true">
        <!-- ROW: Encodings -->
        <as-split-area [size]="34">
          <div class="list-group h-100" style="overflow-x: hidden">
            <article class="list-group-item">
              <!-- Header -->
              <header class="encoding-header mb-sm">
                <table class="w-100">
                  <tr>
                    <td>
                      <h5>
                        <span class="badge badge-secondary">Encoding</span>
                      </h5>
                    </td>
                    <td class="float-right">
                      <button class="btn btn-light btn-sm" (click)="swapXY()">Swap XY</button>
                      {{" "}}
                      <button class="btn btn-light btn-sm" (click)="resetAllEncodings()">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </table>
              </header>

              <!-- Content -->
              <div>
                <form>
                  <!-- OPTION: Chart Type -->
                  <div class="row mb-sm">
                    <label class="col-sm-4 col-form-label">Chart</label>
                    <div class="col-sm-8">
                      <ng-select name="chartSelect" [searchable]="false" appendTo="body"
                        [(ngModel)]="appConfig[global.appMode]['chartType']" (change)="onChangeChart($event)"
                        (clear)="onChangeChart($event, true)">
                        <ng-option *ngFor="let c of userConfig['charts']" [value]="c">
                          {{userConfig['chartMapping'][c]}}
                        </ng-option>
                      </ng-select>
                    </div>
                  </div>

                  <!-- OPTION: X Attribute -->
                  <div class="row mb-sm">
                    <label class="col-sm-4 col-form-label">X Axis</label>
                    <div class="col-sm-8">
                      <ng-select class="fa" name="xVarSelect" [searchable]="false" appendTo="body"
                        [(ngModel)]="appConfig[global.appMode]['xVar']" (change)="onChangeAttribute($event, 'x_axis')"
                        (clear)="onChangeAttribute($event, 'x_axis', true)">
                        <!-- Q => Quantitative -->
                        <ng-container *ngFor="let x of appConfig[global.appMode].attributeDatatypeList['Q']">
                          <ng-option
                            *ngIf="x !== appConfig[global.appMode].primaryKey && x !== appConfig[global.appMode].labelKey"
                            [value]="x">
                            &#xf292; {{x}}
                          </ng-option>
                        </ng-container>
                        <!-- T => Temporal -->
                        <ng-container *ngFor="let x of appConfig[global.appMode].attributeDatatypeList['T']">
                          <ng-option
                            *ngIf="x !== appConfig[global.appMode].primaryKey && x !== appConfig[global.appMode].labelKey"
                            [value]="x">
                            &#xf133; {{x}}
                          </ng-option>
                        </ng-container>
                        <!-- O => Ordinal -->
                        <ng-container *ngFor="let x of appConfig[global.appMode].attributeDatatypeList['O']">
                          <ng-option
                            *ngIf="x !== appConfig[global.appMode].primaryKey && x !== appConfig[global.appMode].labelKey"
                            [value]="x">
                            &#xf031; {{x}}
                          </ng-option>
                        </ng-container>
                        <!-- N => Nominal -->
                        <ng-container *ngFor="let x of appConfig[global.appMode].attributeDatatypeList['N']">
                          <ng-option
                            *ngIf="x !== appConfig[global.appMode].primaryKey && x !== appConfig[global.appMode].labelKey"
                            [value]="x">
                            &#xf031; {{x}}
                          </ng-option>
                        </ng-container>
                      </ng-select>
                    </div>
                  </div>

                  <!-- OPTION: Y Attribute -->
                  <div class="row mb-sm">
                    <label class="col-sm-4 col-form-label">Y Axis</label>
                    <div class="col-sm-8">
                      <ng-select class="fa" name="yVarSelect" [searchable]="false" appendTo="body"
                        [(ngModel)]="appConfig[global.appMode]['yVar']" (change)="onChangeAttribute($event, 'y_axis')"
                        (clear)="onChangeAttribute($event, 'y_axis', true)">
                        <!-- Q => Quantitative -->
                        <ng-container *ngFor="let y of appConfig[global.appMode].attributeDatatypeList['Q']">
                          <ng-option
                            *ngIf="y !== appConfig[global.appMode].primaryKey && y !== appConfig[global.appMode].labelKey"
                            [value]="y">
                            &#xf292; {{y}}
                          </ng-option>
                        </ng-container>
                        <!-- T => Temporal -->
                        <ng-container *ngFor="let y of appConfig[global.appMode].attributeDatatypeList['T']">
                          <ng-option
                            *ngIf="y !== appConfig[global.appMode].primaryKey && y !== appConfig[global.appMode].labelKey"
                            [value]="y">
                            &#xf133; {{y}}
                          </ng-option>
                        </ng-container>
                        <!-- O => Ordinal -->
                        <ng-container *ngFor="let y of appConfig[global.appMode].attributeDatatypeList['O']">
                          <ng-option
                            *ngIf="y !== appConfig[global.appMode].primaryKey && y !== appConfig[global.appMode].labelKey"
                            [value]="y">
                            &#xf031; {{y}}
                          </ng-option>
                        </ng-container>
                        <!-- N => Nominal -->
                        <ng-container *ngFor="let y of appConfig[global.appMode].attributeDatatypeList['N']">
                          <ng-option
                            *ngIf="y !== appConfig[global.appMode].primaryKey && y !== appConfig[global.appMode].labelKey"
                            [value]="y">
                            &#xf031; {{y}}
                          </ng-option>
                        </ng-container>
                      </ng-select>
                    </div>
                  </div>

                  <!-- OPTION: Aggregation -->
                  <div *ngIf="appConfig[global.appMode]['xVar'] && appConfig[global.appMode]['yVar']">
                    <div *ngIf="['barchart', 'linechart'].indexOf(appConfig[global.appMode]['chartType']) !== -1"
                      class="row mb-sm">
                      <label class="col-sm-4 col-form-label">Agg</label>
                      <div class="col-sm-8">
                        <ng-select name="aggTypeSelect" [searchable]="false" appendTo="body"
                          [(ngModel)]="appConfig[global.appMode]['aggType']" (change)="onChangeAggregation($event)"
                          [clearable]="false">
                          <ng-option *ngFor="let a of userConfig['aggregations']" [value]="a">
                            {{userConfig['aggregationMapping'][a]}}
                          </ng-option>
                        </ng-select>
                      </div>
                    </div>
                  </div>

                  <!-- OPTION: Color By -->
                  <div *ngIf="global.appType != 'CONTROL'" class="row mb-sm">
                    <label class="col-sm-4 col-form-label">Color By</label>
                    <div class="col-sm-8">
                      <ng-select name="visColorByModeSelect" [searchable]="false" [clearable]="false" appendTo="body"
                        [(ngModel)]="appConfig[global.appMode]['colorByMode']" (change)="onChangeVISColorByMode($event)"
                        (clear)="onChangeColorByMode($event, true)">
                        <ng-option *ngFor="let m of userConfig['colorByModes']" [value]="m">
                          {{userConfig['colorByModeMapping'][m]}}
                        </ng-option>
                      </ng-select>
                    </div>
                  </div>
                </form>
              </div>
            </article>
          </div>
        </as-split-area>

        <!-- ROW: Filters -->
        <as-split-area [size]="global.appType == 'ADMIN' ? 33 : 66">
          <div class="list-group h-100">
            <article class="list-group-item">
              <!-- Header -->
              <header class="filter-header">
                <table class="w-100">
                  <tr>
                    <td>
                      <h5>
                        <span class="badge badge-secondary">Filters</span>
                      </h5>
                    </td>
                    <td class="float-right">
                      <button class="btn btn-light btn-sm" (click)="removeFilters()">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </table>
              </header>

              <!-- Content -->
              <div>
                <form>
                  <!-- OPTION: Nominal Attributes -->
                  <div class="form-group"
                    *ngFor="let attribute of appConfig[global.appMode].attributeDatatypeList['N'];">
                    <ng-container *ngIf="appConfig[global.appMode]['attributes'][attribute]['filter']">
                      <span>
                        <label class="form-label" for="{{'select_' + attribute}}">{{attribute}}</label>
                        <button class="btn btn-light btn-sm float-right" (click)="removeFilter(attribute)">
                          <i class="fa fa-times"></i>
                        </button>
                      </span>
                      <ng-multiselect-dropdown name="{{'select_' + attribute}}" [placeholder]="' '" appendTo="body"
                        [data]="appConfig[global.appMode]['attributes'][attribute]['types']"
                        [(ngModel)]="appConfig[global.appMode]['attributes'][attribute]['filterModel']"
                        [settings]="userConfig['filterMultiselectDropdownSettings']"
                        (onSelect)="onChangeFilter(attribute, 'select')"
                        (onSelectAll)="onChangeFilter(attribute, 'selectAll')"
                        (onDeSelect)="onChangeFilter(attribute, 'deselect')"
                        (onDeSelectAll)="onChangeFilter(attribute, 'deselectAll')">
                      </ng-multiselect-dropdown>
                      <hr class="separator" />
                    </ng-container>
                  </div>

                  <!-- OPTION: Quantitative Attributes -->
                  <div class="form-group"
                    *ngFor="let attribute of appConfig[global.appMode].attributeDatatypeList['Q'];">
                    <ng-container *ngIf="appConfig[global.appMode]['attributes'][attribute]['filter']">
                      <span>
                        <label class="form-label" for="{{'slider_' + attribute}}">{{attribute}}</label>
                        <button class="btn btn-light btn-sm float-right" (click)="removeFilter(attribute)">
                          <i class="fa fa-times"></i>
                        </button>
                      </span>
                      <div class="q-filter-slider">
                        <nouislider name="{{'slider_' + attribute}}" [config]="qFilterSliderConfig(attribute)"
                          [behaviour]="drag" [connect]="true"
                          [(ngModel)]="appConfig[global.appMode]['attributes'][attribute]['filterModel']"
                          (change)="onChangeFilter(attribute, 'sliderChange')">
                        </nouislider>
                        <hr class="separator" />
                      </div>
                    </ng-container>
                  </div>

                  <!-- OPTION: Temporal Attributes -->
                  <div class="form-group"
                    *ngFor="let attribute of appConfig[global.appMode].attributeDatatypeList['T'];">
                    <ng-container *ngIf="appConfig[global.appMode]['attributes'][attribute]['filter']">
                      <span>
                        <label class="form-label" for="{{'slider_' + attribute}}">{{attribute}}</label>
                        <button class="btn btn-light btn-sm float-right" (click)="removeFilter(attribute)">
                          <i class="fa fa-times"></i>
                        </button>
                      </span>
                      <div class="q-filter-slider">
                        <nouislider name="{{'slider_' + attribute}}" [config]="{
                            'pips': { mode: 'count', values: 3, density: 10 }
                          }" [behaviour]="drag" [connect]="true"
                          [step]="appConfig[global.appMode]['attributes'][attribute]['step']"
                          [min]="appConfig[global.appMode]['attributes'][attribute]['min']"
                          [max]="appConfig[global.appMode]['attributes'][attribute]['max']"
                          [(ngModel)]="appConfig[global.appMode]['attributes'][attribute]['filterModel']"
                          (change)="onChangeFilter(attribute, 'sliderChange')" [tooltips]="[ true, true ]">
                        </nouislider>
                        <hr class="separator" />
                      </div>
                    </ng-container>
                  </div>
                </form>
              </div>
            </article>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>

    <!-- COLUMN: Main VIS -->
    <as-split-area [size]="global.appType !== 'CONTROL' ? 40 : 60" class="w-100">
      <as-split direction="vertical" restrictMove="true" class="w-100">
        <!-- ROW: Plot Container -->
        <as-split-area [size]="68" style="position: relative">
          <article style="position: absolute; top: 0; left: 0; border: none; padding: 10px 0 0 10px">
            <header class="main-vis-header">
              <table class="w-100 m-b-0">
                <tr>
                  <td class="p-0 m-0">
                    <h5 class="p-0 m-0">
                      <span class="badge badge-secondary">Visualization</span>
                    </h5>
                  </td>
                </tr>
              </table>
            </header>
          </article>
          <div id="plot_container" (click)="mouseClick($event)"></div>
        </as-split-area>

        <!-- ROW: Selected Object(s) -->
        <as-split-area #selected_objects_container [size]="32" style="overflow: hidden">
          <!-- Default Hover Table (for Scatter*/Strip Plots) -->
          <div *ngIf="['dotplot', 'barchart', 'linechart'].indexOf(currentPlotInstance) === -1" class="list-group h-100"
            style="overflow-x: hidden">
            <article class="list-group-item">
              <!-- Header -->
              <header class="details-header">
                <table class="w-100">
                  <tr>
                    <td>
                      <h5>
                        <span class="badge badge-secondary">Details</span>
                      </h5>
                    </td>
                  </tr>
                </table>
              </header>

              <!-- Content -->
              <div class="row single-table">
                <div *ngFor="let chunk of utilsService.chunkAttrArray(appConfig[global.appMode]);"
                  class="col-sm-6 attr-col">
                  <table>
                    <tbody>
                      <ng-container *ngFor="let attr of chunk">
                        <tr *ngIf="attr !== appConfig[global.appMode].labelKey" class="attr-row">
                          <td>
                            <span class="text-muted">{{attr}}</span>
                          </td>
                          <td *ngIf="appConfig[global.appMode].attributeDatatypeList['Q'].indexOf(attr) !== -1">
                            <strong>{{utilsService.formatLargeNum(+appConfig[global.appMode]['hoveredObject'][attr])}}</strong>
                          </td>
                          <td *ngIf="appConfig[global.appMode].attributeDatatypeList['Q'].indexOf(attr) === -1">
                            <strong>{{appConfig[global.appMode]['hoveredObject'][attr]}}</strong>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </article>
          </div>

          <!-- Hover Table for Dot Plot and Bar/Line Charts -->
          <div *ngIf="['dotplot', 'barchart', 'linechart'].indexOf(currentPlotInstance) !== -1" class="list-group">
            <article class="list-group-item">
              <!-- Header -->
              <header #table_header class="details-header">
                <table class="w-100">
                  <tr>
                    <td>
                      <h5>
                        <span class="badge badge-secondary">Details</span>
                        &nbsp;
                        <span class="text-muted">{{getDetailsTableHeader()}}</span>
                      </h5>
                    </td>
                  </tr>
                </table>
              </header>
                <!-- Don't use this component for get data points from the visualization -->
              <!-- Content -->
              <overlay-scrollbars [options]="getDetailsTableScrollbarOptions()" style="padding: 12px 0 0 12px">
                <div class="group-table"
                  [style.height.px]="selected_objects_container.offsetHeight - table_header.offsetHeight - 32">
                  <table class="text-nowrap">
                    <thead>
                      <tr class="group-table-header">
                        <ng-container *ngFor="let attr of appConfig[global.appMode].attributeList">
                          <th *ngIf="attr !== appConfig[global.appMode].labelKey">
                            <strong>{{attr}}</strong>
                          </th>
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let dataPoint of objectValues(appConfig[global.appMode]['hoveredObjects']['points'])"
                        class="group-table-item"
                        [ngClass]="{'textLight': dataPoint['ratioTimesVisited'] >= 0.7, 'textDark': dataPoint['ratioTimesVisited'] < 0.7 }"
                        [style.background-color]="dataPoint['color']" (mouseover)="mouseoverRow($event, dataPoint)"
                        (mouseout)="mouseoutRow($event, dataPoint)">
                        <ng-container *ngFor="let attr of appConfig[global.appMode].attributeList">
                          <td *ngIf="attr !== appConfig[global.appMode].labelKey">
                            <div style="text-align: right"
                              *ngIf="appConfig[global.appMode].attributeDatatypeList['Q'].indexOf(attr) !== -1">
                              {{utilsService.formatLargeNum(+dataPoint[attr])}}
                            </div>
                            <div style="text-align: left"
                              *ngIf="appConfig[global.appMode].attributeDatatypeList['N'].indexOf(attr) !== -1">
                              {{dataPoint[attr]}}
                            </div>
                            <div style="text-align: left"
                              *ngIf="appConfig[global.appMode].attributeDatatypeList['O'].indexOf(attr) !== -1">
                              {{dataPoint[attr]}}
                            </div>
                            <div style="text-align: right"
                              *ngIf="appConfig[global.appMode].attributeDatatypeList['T'].indexOf(attr) !== -1">
                              {{dataPoint[attr]}}
                            </div>
                          </td>
                        </ng-container>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </overlay-scrollbars>
            </article>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>

<!-- COLUMN: Visual Log Panel (New Feature)-->
      <as-split-area *ngIf="global.appType !== 'CONTROL'" [size]="global.appType !== 'CONTROL' ? 20 : 0">
          <as-split direction="vertical" class="border-light" restrictMove="true" class="w-100">
              <!-- ROW: Visual Log Container-->
              <as-split-area [size]="100" style="position:relative">
                    <article style="position: absolute; top: 0; left: 0; border: none; padding: 10px 0 0 10px">
                        <!-- TODO: Maybe we need to implement a button configuration-->
                        <header class="visual-log-header">
                          <table class="w-100 m-b-0">
                              <tr>
                                  <td class="p-0 m-0">
                                      <h5 class="p-0 m-0">
                                          <span class="badge badge-secondary">Visual Log</span>
                                      </h5>
                                  </td>
                              </tr>
                          </table>
                        </header>
                  </article>
                  <!-- Content VISUAL LOG-->
                  <div id="graph_container">
                  <!--
                      <h5>
                          {{ (global.appType).toString() }}
                          {{ (global.appLevel).toString() }}
                      </h5>
                      -->
                  </div>
            </as-split-area>
          </as-split>
      </as-split-area>

<!--&lt;!&ndash; Hide the Awareness Panel (CRL /, to remove comments) &ndash;&gt;-->
<!--    &lt;!&ndash; COLUMN: Awareness Panel &ndash;&gt;-->
<!--    <as-split-area *ngIf="global.appType !== 'CONTROL'" [size]="global.appType !== 'CONTROL' ? 20 : 0">-->
<!--      <as-split direction="vertical" class="border-light" restrictMove="true">-->
<!--        &lt;!&ndash; ROW: Awareness Panel &ndash;&gt;-->
<!--        <as-split-area [size]="100">-->
<!--          <div class="list-group h-100">-->
<!--            <article class="list-group-item">-->
<!--              &lt;!&ndash; Header &ndash;&gt;-->
<!--              <header class="awareness-panel-header">-->
<!--                <table class="w-100">-->
<!--                  <tr>-->
<!--                    <td>-->
<!--                      <h5>-->
<!--                        <span class="badge badge-secondary">Distribution</span>-->
<!--                      </h5>-->
<!--                    </td>-->
<!--                    <td class="float-right">-->
<!--                      <button class="btn btn-light btn-sm" (click)="toggleAwarenessPanelSettingsAccordion()">-->
<!--                        <i class="fa fa-cog"></i>-->
<!--                      </button>-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                </table>-->
<!--              </header>-->

<!--              &lt;!&ndash; Content: Settings &ndash;&gt;-->
<!--              <div class="collapse" id="collapseAwarenessControls">-->
<!--                <div class="m-sm">-->
<!--                  <table style="border-collapse: separate; border-spacing: 8px 4px">-->
<!--                    <tbody>-->
<!--                      &lt;!&ndash; Toggle Accordion &ndash;&gt;-->
<!--                      <tr>-->
<!--                        <td style="float: right">Open/Close</td>-->
<!--                        <td>-->
<!--                          &lt;!&ndash; Expand Accordion &ndash;&gt;-->
<!--                          <button (click)="expandAccordion()" class="btn btn-sm btn-light">-->
<!--                            <i class="fa fa-chevron-down"></i>-->
<!--                          </button>-->
<!--                          &lt;!&ndash; Collapse Accordion &ndash;&gt;-->
<!--                          <button (click)="collapseAccordion()" class="btn btn-sm btn-light">-->
<!--                            <i class="fa fa-chevron-up"></i>-->
<!--                          </button>-->
<!--                        </td>-->
<!--                      </tr>-->

<!--                      &lt;!&ndash; Sort By Mode &ndash;&gt;-->
<!--                      <tr *ngIf="global.appType !== 'CONTROL'">-->
<!--                        <td style="float: right">Sort by</td>-->
<!--                        <td>-->
<!--                          <ng-select name="awarenessSortByModeSelect" appendTo="body" [clearable]="false"-->
<!--                            [searchable]="false"-->
<!--                            [ngStyle]="{ width: getSelectWidth('awarenessSortByModes', 'sortByModeMapping') }"-->
<!--                            (change)="onChangeDistributionPanelSort($event)"-->
<!--                            [(ngModel)]="userConfig['awarenessSortByMode']">-->
<!--                            <ng-option *ngFor="let awsm of userConfig['awarenessSortByModes']" [value]="awsm"-->
<!--                              [innerHTML]="userConfig['sortByModeMapping'][awsm]">-->
<!--                            </ng-option>-->
<!--                          </ng-select>-->
<!--                        </td>-->
<!--                      </tr>-->

<!--                      &lt;!&ndash; Awareness Mode &ndash;&gt;-->
<!--                      <tr *ngIf="global.appType != 'CONTROL'">-->
<!--                        <td style="float: right">Mode</td>-->
<!--                        <td>-->
<!--                          <ng-select name="awarenessModeSelect" appendTo="body" [clearable]="false" [searchable]="false"-->
<!--                            [ngStyle]="{ width: getSelectWidth('awarenessModes') }"-->
<!--                            [(ngModel)]="userConfig['awarenessMode']" (change)="updateAwarenessPanel(null)">-->
<!--                            <ng-option *ngFor="let am of userConfig['awarenessModes']" [value]="am"> {{am}} </ng-option>-->
<!--                          </ng-select>-->
<!--                        </td>-->
<!--                      </tr>-->

<!--                      &lt;!&ndash; Color Scale &ndash;&gt;-->
<!--                      <tr *ngIf="global.appType != 'CONTROL'">-->
<!--                        <td style="float: right">Color Scale</td>-->
<!--                        <td>-->
<!--                          <ng-select name="awarenessColorScaleSelect" appendTo="body" [clearable]="false"-->
<!--                            [searchable]="false"-->
<!--                            [ngStyle]="{ width: getSelectWidth('colorScales', 'colorScaleMapping') }"-->
<!--                            [(ngModel)]="userConfig['awarenessColorScale']">-->
<!--                            <ng-option *ngFor="let awcs of userConfig['colorScales']" [value]="awcs">-->
<!--                              {{userConfig['colorScaleMapping'][awcs]}}-->
<!--                            </ng-option>-->
<!--                          </ng-select>-->
<!--                        </td>-->
<!--                      </tr>-->

<!--                      &lt;!&ndash; Interpolate Mode &ndash;&gt;-->
<!--                      <tr *ngIf="global.appType != 'CONTROL'">-->
<!--                        <td style="float: right">Interpolation</td>-->
<!--                        <td>-->
<!--                          <ng-select name="interpolateModeSelect" appendTo="body" [clearable]="false"-->
<!--                            [searchable]="false" [ngStyle]="{ width: getSelectWidth('interpolateModes') }"-->
<!--                            [(ngModel)]="userConfig['interpolateMode']" (change)="updateAwarenessPanel(null)">-->
<!--                            <ng-option *ngFor="let im of userConfig['interpolateModes']" [value]="im">-->
<!--                              {{im}}-->
<!--                            </ng-option>-->
<!--                          </ng-select>-->
<!--                        </td>-->
<!--                      </tr>-->

<!--                    </tbody>-->
<!--                  </table>-->
<!--                </div>-->
<!--              </div>-->

<!--              &lt;!&ndash; Content: Color Legend &ndash;&gt;-->
<!--              <div *ngIf="global.appType !== 'CONTROL' && userConfig['awarenessColorScale'] == 'Sequential'">-->
<!--                <br />-->
<!--                <div class="text-center"><span class="title">Data Distribution vs. Your Focus</span></div>-->
<!--                <table class="w-100 m-b-md">-->
<!--                  <tr>-->
<!--                    <td class="title text-secondary" style="white-space: nowrap; padding-right: 8px; font-size: 0.9rem">-->
<!--                      Different-->
<!--                    </td>-->
<!--                    <td class="w-100">-->
<!--                      <div class="sequential-color-legend"></div>-->
<!--                    </td>-->
<!--                    <td class="title text-secondary" style="white-space: nowrap; padding-left: 8px; font-size: 0.9rem">-->
<!--                      Similar-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                </table>-->
<!--              </div>-->
<!--              <div *ngIf="global.appType !== 'CONTROL' && userConfig['awarenessColorScale'] == 'Divergent'">-->
<!--                <br />-->
<!--                <div class="text-center"><span class="title">Data Distribution vs. Your Focus</span></div>-->
<!--                <table class="w-100 m-b-md">-->
<!--                  <tr>-->
<!--                    <td class="title text-secondary" style="white-space: nowrap; padding-right: 8px; font-size: 0.9rem">-->
<!--                      Different-->
<!--                    </td>-->
<!--                    <td class="w-100">-->
<!--                      <div class="divergent-color-legend"></div>-->
<!--                    </td>-->
<!--                    <td class="title text-secondary" style="white-space: nowrap; padding-left: 8px; font-size: 0.9rem">-->
<!--                      Similar-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                </table>-->
<!--              </div>-->

<!--              &lt;!&ndash; Content: Cards &ndash;&gt;-->
<!--              <div class="awareness-panel-body">-->
<!--                &lt;!&ndash; ROW: Bookmarks &ndash;&gt;-->
<!--                <div id="bookmarkedAttributes">-->
<!--                  &lt;!&ndash; Header &ndash;&gt;-->
<!--                  <table class="w-100">-->
<!--                    <tr>-->
<!--                      <td>-->
<!--                        <h6 class="title">Pinned Attributes</h6>-->
<!--                      </td>-->
<!--                      <td class="float-right">-->
<!--                        <button class="btn btn-light btn-sm" (click)="resetAllBookmarks($event)">-->
<!--                          <i class="fa fa-times"></i>-->
<!--                        </button>-->
<!--                      </td>-->
<!--                    </tr>-->
<!--                  </table>-->

<!--                  &lt;!&ndash; Content &ndash;&gt;-->
<!--                  <div>-->
<!--                    <div *ngFor="let a of customSortAwarenessPanel(appConfig[global.appMode].attributeList);">-->
<!--                      <div class="card card-border"-->
<!--                        *ngIf="appConfig[global.appMode]['attributes'][a]['awarenessPanel']['isBookmarked']">-->
<!--                        <div class="card-header card-header-hover m-b-0" [ngStyle]="styleAwarenessPanelCard(a)"-->
<!--                          [attr.aria-expanded]="true">-->
<!--                          <table class="w-100">-->
<!--                            <tr>-->
<!--                              <td class="float-left"-->
<!--                                *ngIf="appConfig[global.appMode].attributeDatatypeList['N'].indexOf(a) !== -1">-->
<!--                                <span class="text-nowrap"><i class="fa fa-font"></i>&nbsp;&nbsp;{{a}}</span>-->
<!--                              </td>-->
<!--                              <td class="float-left"-->
<!--                                *ngIf="appConfig[global.appMode].attributeDatatypeList['O'].indexOf(a) !== -1">-->
<!--                                <span class="text-nowrap"><i class="fa fa-font"></i>&nbsp;&nbsp;{{a}}</span>-->
<!--                              </td>-->
<!--                              <td class="float-left"-->
<!--                                *ngIf="appConfig[global.appMode].attributeDatatypeList['T'].indexOf(a) !== -1">-->
<!--                                <span class="text-nowrap"><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{a}}</span>-->
<!--                              </td>-->
<!--                              <td class="float-left"-->
<!--                                *ngIf="appConfig[global.appMode].attributeDatatypeList['Q'].indexOf(a) !== -1">-->
<!--                                <span class="text-nowrap"><i class="fa fa-hashtag"></i>&nbsp;&nbsp;{{a}}</span>-->
<!--                              </td>-->
<!--                              <td class="float-right">-->
<!--                                <button (click)="toggleBookmark(a, $event)" class="btn btn-sm p-0">-->
<!--                                  <i class="fas fa-bookmark"></i>-->
<!--                                </button>-->
<!--                              </td>-->
<!--                            </tr>-->
<!--                          </table>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                          <div class="awarenessPlot"-->
<!--                            id="{{'awarenessPlot-' + appConfig[global.appMode]['attributes'][a]['cleaned']}}"></div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <hr class="separator" />-->

<!--                &lt;!&ndash; ROW: Others &ndash;&gt;-->
<!--                <div id="otherAttributes" class="mb-sm">-->
<!--                  &lt;!&ndash; Header &ndash;&gt;-->
<!--                  <table class="w-100">-->
<!--                    <tr>-->
<!--                      <td>-->
<!--                        <h6 class="title">Other Attributes</h6>-->
<!--                      </td>-->
<!--                    </tr>-->
<!--                  </table>-->

<!--                  &lt;!&ndash; Content &ndash;&gt;-->
<!--                  <div class="accordion" id="awarenessaccordion">-->
<!--                    <div *ngFor="let a of customSortAwarenessPanel(appConfig[global.appMode].attributeList);">-->
<!--                      <div class="card"-->
<!--                        [ngClass]="{'card-border': this.appConfig[this.global.appMode]['attributes'][a]['awarenessPanel']['isExpanded']}"-->
<!--                        *ngIf="!appConfig[global.appMode]['attributes'][a]['awarenessPanel']['isBookmarked']">-->
<!--                        <div class="card-header card-header-hover m-b-0"-->
<!--                          title="{{appConfig[global.appMode]['attributeBiasValues'][a]}}"-->
<!--                          [ngStyle]="styleAwarenessPanelCard(a)"-->
<!--                          id="{{'awarenessheading-' + appConfig[global.appMode]['attributes'][a]['cleaned']}}"-->
<!--                          (click)="onClickAccordion(a)"-->
<!--                          [attr.data-target]="'#awarenesscollapse-' + appConfig[global.appMode]['attributes'][a]['cleaned']">-->
<!--                          <table class="w-100">-->
<!--                            <tr>-->
<!--                              <td class="float-left"-->
<!--                                *ngIf="appConfig[global.appMode].attributeDatatypeList['N'].indexOf(a) !== -1">-->
<!--                                <span class="text-nowrap"><i class="fa fa-font"></i>&nbsp;&nbsp;{{a}}</span>-->
<!--                              </td>-->
<!--                              <td class="float-left"-->
<!--                                *ngIf="appConfig[global.appMode].attributeDatatypeList['O'].indexOf(a) !== -1">-->
<!--                                <span class="text-nowrap"><i class="fa fa-font"></i>&nbsp;&nbsp;{{a}}</span>-->
<!--                              </td>-->
<!--                              <td class="float-left"-->
<!--                                *ngIf="appConfig[global.appMode].attributeDatatypeList['T'].indexOf(a) !== -1">-->
<!--                                <span class="text-nowrap"><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{a}}</span>-->
<!--                              </td>-->
<!--                              <td class="float-left"-->
<!--                                *ngIf="appConfig[global.appMode].attributeDatatypeList['Q'].indexOf(a) !== -1">-->
<!--                                <span class="text-nowrap"><i class="fa fa-hashtag"></i>&nbsp;&nbsp;{{a}}</span>-->
<!--                              </td>-->
<!--                              <td class="float-right">-->
<!--                                &nbsp;<button (click)="toggleBookmark(a, $event)" class="btn btn-sm p-0">-->
<!--                                  <i class="fa-bookmark"-->
<!--                                    [ngClass]="{'fas': appConfig[global['appMode']]['attributes'][a]['awarenessPanel']['isBookmarked'], 'far': !appConfig[global['appMode']]['attributes'][a]['awarenessPanel']['isBookmarked']}"></i></button>&nbsp;-->
<!--                              </td>-->
<!--                            </tr>-->
<!--                          </table>-->
<!--                        </div>-->
<!--                        <div class="collapse"-->
<!--                          id="{{'awarenesscollapse-' + appConfig[global.appMode]['attributes'][a]['cleaned']}}">-->
<!--                          <div class="card-body">-->
<!--                            <div class="awarenessPlot"-->
<!--                              id="{{'awarenessPlot-' + appConfig[global.appMode]['attributes'][a]['cleaned']}}"></div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </article>-->
<!--          </div>-->
<!--        </as-split-area>-->
<!--      </as-split>-->
<!--    </as-split-area>-->

  </as-split>
</div>
